# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key
g_key

'AIzaSyCiheg5MhhhhNiw_hxoKyvB6ZBqyyHDVh0'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
file='./Output_data/cities.csv'
weather_df=pd.read_csv(file)
weather_df.head()

,Date,Country,City,Lat,Lon,Max Tem,Cloudiness,Humidity,Wind Speed
0,1586564344,AR,Ushuaia,-54.80,-68.30,42.80,20,60,3.36
1,1586564344,PF,Atuona,-9.80,-139.03,82.24,79,78,11.10
2,1586564344,RU,Tsimmerbude,54.67,20.13,32.00,2,74,4.47
3,1586564111,NZ,Mataura,-46.19,168.86,63.00,0,70,4.00
4,1586564344,YT,Boueni,-12.90,45.08,82.40,6,78,5.82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
gmaps.configure(api_key=g_key)

In [14]:
locations = weather_df[["Lat", "Lon"]]
weight=weather_df["Humidity"].astype(float)
fig=gmaps.figure(center=(46.0,-5.0),zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=np.max(weight),
                                 point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [45]:
hotel_df=weather_df[(weather_df["Max Tem"] <75)&(weather_df["Max Tem"] > 60)&(weather_df["Wind Speed"]< 10.0)&(weather_df["Cloudiness"]==0)].reset_index(drop=True) 
hotel_df

,Date,Country,City,Lat,Lon,Max Tem,Cloudiness,Humidity,Wind Speed
0,1586564111,NZ,Mataura,-46.19,168.86,63.00,0,70,4.00
1,1586564344,NZ,Kaitangata,-46.28,169.85,61.03,0,54,2.75
2,1586564345,UY,Chui,-33.70,-53.46,61.65,0,84,6.78
3,1586564349,AR,Tigre,-34.43,-58.58,64.99,0,77,8.05
4,1586564350,GM,Nioro,13.35,-15.75,72.86,0,60,6.80
5,1586564099,NZ,Bluff,-46.60,168.33,63.00,0,70,4.00
6,1586564077,AR,Presidencia Roque Sáenz Peña,-26.79,-60.44,62.01,0,59,4.41
7,1586564257,AR,San Juan,-31.54,-68.54,71.83,0,33,2.39
8,1586564368,IN,Amguri,26.80,94.53,70.23,0,40,2.86
9,1586564369,BD,Netrakona,24.88,90.72,72.99,0,44,5.50
10,1586564369,AR,Veinticinco de Mayo,-35.43,-60.17,61.00,0,71,5.01
11,1586564370,AR,Santiago del Estero,-27.80,-64.26,65.12,0,53,7.16
12,1586564371,NZ,Tokoroa,-38.23,175.87,69.01,0,52,1.99
13,1586564372,CL,Vallenar,-28.57,-70.76,61.70,0,62,1.83
14,1586564372,IN,Numāligarh,26.63,93.75,69.71,0,43,1.48
15,1586564381,NZ,Masterton,-40.96,175.66,66.00,0,74,1.72
16,1586564296,EG,Aswān,24.09,32.91,62.01,0,33,9.80
17,1586564383,AR,Mercedes,-34.65,-59.43,64.00,0,69,1.01
18,1586564384,NZ,Tuatapere,-46.13,167.68,63.00,0,70,4.00
19,1586564385,MX,Santa Rosalía,27.32,-112.28,69.37,0,31,3.15
20,1586564232,IN,Tura,25.52,90.22,70.88,0,48,2.95




### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [46]:
hotel_df["Hotel Name"]=""
hotel_df

,Date,Country,City,Lat,Lon,Max Tem,Cloudiness,Humidity,Wind Speed,Hotel Name
0,1586564111,NZ,Mataura,-46.19,168.86,63.00,0,70,4.00,
1,1586564344,NZ,Kaitangata,-46.28,169.85,61.03,0,54,2.75,
2,1586564345,UY,Chui,-33.70,-53.46,61.65,0,84,6.78,
3,1586564349,AR,Tigre,-34.43,-58.58,64.99,0,77,8.05,
4,1586564350,GM,Nioro,13.35,-15.75,72.86,0,60,6.80,
5,1586564099,NZ,Bluff,-46.60,168.33,63.00,0,70,4.00,
6,1586564077,AR,Presidencia Roque Sáenz Peña,-26.79,-60.44,62.01,0,59,4.41,
7,1586564257,AR,San Juan,-31.54,-68.54,71.83,0,33,2.39,
8,1586564368,IN,Amguri,26.80,94.53,70.23,0,40,2.86,
9,1586564369,BD,Netrakona,24.88,90.72,72.99,0,44,5.50,
10,1586564369,AR,Veinticinco de Mayo,-35.43,-60.17,61.00,0,71,5.01,
11,1586564370,AR,Santiago del Estero,-27.80,-64.26,65.12,0,53,7.16,
12,1586564371,NZ,Tokoroa,-38.23,175.87,69.01,0,52,1.99,
13,1586564372,CL,Vallenar,-28.57,-70.76,61.70,0,62,1.83,
14,1586564372,IN,Numāligarh,26.63,93.75,69.71,0,43,1.48,
15,1586564381,NZ,Masterton,-40.96,175.66,66.00,0,74,1.72,
16,1586564296,EG,Aswān,24.09,32.91,62.01,0,33,9.80,
17,1586564383,AR,Mercedes,-34.65,-59.43,64.00,0,69,1.01,
18,1586564384,NZ,Tuatapere,-46.13,167.68,63.00,0,70,4.00,
19,1586564385,MX,Santa Rosalía,27.32,-112.28,69.37,0,31,3.15,
20,1586564232,IN,Tura,25.52,90.22,70.88,0,48,2.95,

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "location": "
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map